/*****                    RESET CSS                  *****/
html{color:#222;margin:0;padding:0;}body,ul{padding:0;margin:0;}::-moz-selection{background: #b3d4fc;text-shadow: none;}::selection {background: #b3d4fc;text-shadow: none;}hr {display: block;height: 1px;border: 0;border-top: 1px solid #ccc;margin: 1em 0;padding: 0;}audio,canvas,iframe,img,svg,video{vertical-align: middle;}fieldset {border: 0;margin: 0;padding: 0;}textarea {resize: vertical;}.hidden,[hidden] { display: none !important;}.visually-hidden {border: 0;clip: rect(0, 0, 0, 0);height: 1px;margin: -1px;overflow: hidden;padding: 0;position: absolute;white-space: nowrap;width: 1px;}.visually-hidden.focusable:active,.visually-hidden.focusable:focus {clip: auto;height: auto;margin: 0;overflow: visible;position: static;white-space: inherit;width: auto;}.invisible {visibility: hidden;}a,a:visited {text-decoration: underline;}a[href]::after {  content: " (" attr(href) ")";}abbr[title]::after {  content: " (" attr(title) ")";}a[href^="#"]::after,a[href^="javascript:"]::after {  content: "";}pre,blockquote {  border: 1px solid #999;  page-break-inside: avoid;}tr,img {  page-break-inside: avoid;}p,h2,h3 {  orphans: 3;  widows: 3;  margin: 0;}h2,h3 {  page-break-after: avoid;}* {  position: relative;  outline: none;font-family: monospace sans-serif;-webkit-font-smoothing: antialiased;padding: 0;box-sizing: border-box;margin: 0;word-break: break-word;-webkit-appearance: none;-moz-appearance: none;appearance: none;}body::-webkit-scrollbar{width:0;}table{border-spacing:0}
/*****                FIN RESET CSS                  *****/

body { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100vh;
    transition-duration: .3s;
}

#switch {
    width: 90px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid black;
    cursor: pointer;
}
#switch::after{
    content: "";
    display: block;
    position: absolute;
    top: 50%;

    transform: translate(0,-50%);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: black;
    transition: .3s;
}
body.active { 
    background-color: #222;
}
body.active #switch {
    border-color: white;
}
body.active #switch::after {
    background-color: white;
    transform: translate(38px,-50%);
    transition: .3s;
}
body.active figure {
    border-color: white;
}
.container-video {
    width: calc(100% - 40px);
    max-width: 500px;
}
figure, .container-video iframe {
    display: block;
    height: 300px;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid black;
}
figure img {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    object-fit: cover;
}
figure::after,figure::before{
    content:"";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: .3s;
    z-index: 1;
}
figure::before {
    border-radius: 50%;
    background-color: white;
    border: 1px solid white;
    width: 80px;
    height: 80px;
}
figure::after {
    width: 0px;
    height: 0px;
    left: calc(50% + 5px);
    border-top: 15px solid transparent;
    border-left: 30px solid black;
    border-bottom: 15px solid transparent;
}
figure:hover::before {
    background-color: black;
}
figure:hover::after {
    border-left: 37px solid white;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

.container-video iframe {
    display: block;
    width: 100%;
    height: 300px;
}